<span>
  <strong>Title:</strong>
  <%= @book.title %>
</span>

<span>
  <strong>Body:</strong>
  <%= @book.body %>
</span>

<span>
  <%= link_to 'Edit', edit_book_path(@book) %>
  |
  <%= link_to 'Back', books_path %>
</span>